.submit-info {
    display: flex;
    font-size: normal;
    flex-direction: column;
    padding: 40px;

}
.submit-info-desc {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-bottom: 12px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}
.input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 50px;
    transition: border 250ms linear;
}
.input:focus{
    outline: none;
    border-color: var(--primary-color);
}
.man {
    background: url('../img/svg/man.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}
.man:focus {
    background: url('../img/svg/filled-man.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    
}
.phone {
    background: url('../img/svg/tel.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}
.phone:focus {
    background: url('../img/svg/filled-phone.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}
.email {
    background: url('../img/svg/mail.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}
.email:focus {
    background: url('../img/svg/filled-mail.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}


.form-field, .user-tel, .user-email, .user-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 4px;
    color: var(--secondary-color);
}
.form-field, .user-tel, .user-email {
    margin-top: 10px;
}

.area-form {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;    
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    transition: border 250ms linear;
}
.area-form:focus {
    outline: none;
    border-color: var(--primary-color);
}

.agreement-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    color: var(--secondary-color);
}
.submit-info .terms-link{
    padding-left: 5px;
    color: var(--primary-color);
    text-decoration: underline;
}

.agreement-terms::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 10px;
    background-image: url("../img/svg/empty-icon.svg");
}
.modal-form-term:checked + .agreement-terms::before {

    background-image: url("../img/svg/full-icon.svg")

}

.submit-button-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        margin: 0 auto;
        padding: 0;
        width: 200px;
        height: 50px;
        color: var(--back-color);
        background: var(--primary-color);
        border-radius: 4px;
        margin-top: 30px;
        cursor: pointer;
}
.submit-button-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}