.social-list {
    padding: 16px 32px 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media screen and (min-width: 768px) {


    }
    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    
    }
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent ;
    cursor: pointer;    
}
.social-list-icon {
    fill:#AFB1B8 ;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--primary-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--back-color);
}

.workers {
    text-align: center;
    font-weight: bold;
}
.list-name{
    margin-bottom: 50px;
}
