.middle {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F4FA;
    & h2 {
        margin-top: 0;
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        h2 {
            font-size: 36px;
        }
    
    }
    
}
.command_items {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;



    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


    }
    @media screen and (min-width: 1200px) {

    
    }
}
.people-img {
    max-width: 450px;
    object-fit: fill;
}
.command-item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 94px;
    background-color: var(--back-color);
    @media screen and (min-width: 768px) {
        width: calc(( 100% - 30px ) / 2);



    }
    @media screen and (min-width: 1200px) {
        width: calc(( 100% - 90px ) / 4);

    
    }
}
.identity {
    color: var(--secondary-color);
    text-align: center;
}
